@page "/errors"

<PageTitle>Errors</PageTitle>

<h2>Errors</h2>

<ErrorBoundary>
    <ErrorCauser Text="Trigger exception within error boundary" />
</ErrorBoundary>

<ErrorCauser Text="Trigger unhandled exception" />
