<h2>Events</h2>

<p>
    Count: @currentCount
    <button @onclick="IncrementCount">Increment</button>
</p>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
